AndroidApp/bin/
AndroidApp/obj/
packages/
App.Core/obj/
App.Core/bin/
AndroidUiMetadateFramework.Core/bin/
AndroidUiMetadateFramework.Core/obj/
.vs/

AndroidApp/Resources/Resource\.Designer\.cs
AndroidUiMetadataFramework.Core/obj/
AndroidUiMetadataFramework.Core/bin/
AndroidUiMetadataFramework.Core/Resources/Resource.Designer.cs
